{$APP_DOMAIN} {
    encode zstd gzip

    header {
        X-Content-Type-Options nosniff
        Referrer-Policy no-referrer
        X-Frame-Options SAMEORIGIN
        -Server
    }

    reverse_proxy epiapp:3000
}
